<div class="ui large message">

  <div class="ui grid">
    <div class="ui row">
   <div class="eight wide column">
  <h1 class="ui left aligned header">
    <%= @college.name %></h1>
  <h3>Total Karma Exhanged: </h3>
   <h3 class='ui left header'>
    Students on Bibliotech: <%= @college.users.count %>
  </h3>
<h3>Top Seller at <%= @college.name %></h3>
<ul>
  <% @students.each do |user| %>
    <li class="list-students"><%= link_to user.first_name, user_path(user) %> — (<%= user.num_books_for_sale %> books currently listed for sale)</li>
  <% end %>
</ul>

</div>
  <div class="eight wide column google-maps">
  <iframe
    width="100%"
    height="350px"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtN0Q7OpzJ2rlsh7oUygFm141Ho98E59g
      &q=<%=@college.name%>" allowfullscreen>
  </iframe>
</div>
</div>
</div>
<div class="ui row"></div>
<div class="eight wide column">
<br>
<h3>Books Currently Available on Campus</h3>
<ul>
  <% @textbooks.each do |textbook| %>
    <li class="list-books"><%= link_to textbook.title, textbook_path(textbook) %></li>
  <% end %>
</ul>
</div>
</div>
</div>



