<h1 class="ui center aligned header">
    <%= @textbook.title %><br></h1>
  <h3 class="ui center aligned header" id="isbn-for-price">
  <%= @textbook.isbn %></h3>
  </div>
  <div class="ui medium image"> <%=image_tag(@textbook.img_url) %></div>

<div class="pricing-info">
  <% if @condition_prices %>
    <h3>Fresh: <%= number_to_currency(@condition_prices[:fresh]) %><h3>
    <h3>Very Good: <%= number_to_currency(@condition_prices[:very_good]) %><h3>
    <h3>Good: <%= number_to_currency(@condition_prices[:good]) %><h3>
    <h3>Acceptable: <%= number_to_currency(@condition_prices[:acceptable]) %><h3>
    <h3>Trash: <%= number_to_currency(@condition_prices[:trash]) %><h3>
  <% else %>
    <h3> Please inquire with seller about pricing. <h3>
  <% end %>
</div>

<div class="ui container" id="noBook">
  <% if !@textbook.user_books.empty? %>
    <h3>There are <%=@textbook.user_books.count %> copies of <%= @textbook.title %> available for sale:<h3>
  <% else %>
    <h3>Sorry, there are currently no copies of <%= @textbook.title %> available. <%= link_to "Click here to search", root_path %> for another book or click below to sell your copy.</h3><br>
  <% end %>
</div>

<ul>
<% @textbook.user_books.each do |book| %>
  <li id="<%=book.id%>" class="user_book">
  <%= link_to book.condition.name, textbook_book_path(@textbook, book) %> - listed by <%= book.user.first_name %> (<%= book.user.num_books_sold %> books sold), <%= book.listing_days_ago %>.
  </li>
<% end %>
</ul>


<div id="newUserBook" class="ui top attached button">Sell a copy of this book!</div>



<div id ="showUserBook" class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
  </div>
  <div class="image content">
    <div class="image">
      <i class="archive icon"></i>
    </div>

    <div class="description">
      <ul>
      </ul>
    </div>
  </div>
  <div id="addToCartMessage">
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui red basic inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <button id="addToCart" class="ui green basic inverted button">
        <i class="checkmark icon"></i>
        Add to Cart
      </button>
    </div>
  </div>
</div>

<div id="buildUserBook" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="/images/avatar/large/chris.jpg">
    </div>
    <div class="description">
      <div class="ui header">Please Select the following information.</div>
      <p></p>

      <form action="/textbooks/<%=@textbook.id%>/book" method="POST">
        <div>
          Condition of the book:
         <%= collection_select :condition, :id, Condition.all, :id, :name %>
       </div>

    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <button id="userBookSubmit" type="submit" class="ui positive right labeled icon button">
      Submit
      <i class="checkmark icon"></i>
    </button>
  </div>
</form>

</div>
</div>
