<h1 class="ui center aligned header">
    <%= @textbook.title %><br></h1>
  <h3 class="ui center aligned header">
  <%= @textbook.isbn %></h3>
  </div>
  <div class="ui medium image"> <%=image_tag(@textbook.img_url) %></div>

<div class="ui container">
  <ul>
  <% @textbook.user_books.each do |book| %>
    <li id="<%=book.id%>" class="user_book">
    <%= link_to book.condition.name, textbook_book_path(@textbook, book) %>
    </li>
  <% end %>
  </ul>
</div>


<div id="newUserBook" class="ui top attached button">Add a book!</div>



<div id ="showUserBook" class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
  </div>
  <div class="image content">
    <div class="image">
      <i class="archive icon"></i>
    </div>

    <div class="description">
      <ul>
      </ul>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui red basic inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green basic inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
</div>

<div id="buildUserBook" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="/images/avatar/large/chris.jpg">
    </div>
    <div class="description">
      <div class="ui header">Please Select the following information.</div>
      <p></p>

      <form action="/textbooks/<%=@textbook.id%>/book" method="POST">
        <div>
          Condition of the book:
         <%= collection_select :condition, :id, Condition.all, :id, :name %>
       </div>

    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <button id="userBookSubmit" type="submit" class="ui positive right labeled icon button">
      Submit
      <i class="checkmark icon"></i>
    </button>
  </div>
</form>

</div>
</div>
