<h1 class="ui center aligned header">
    <%= @textbook.title %><br><br></h1>
    <h3 class="ui center aligned header">
      By <%= @textbook.author %><br><h3>
  <h3 class="ui center aligned header" id="isbn-for-price">
    ISBN: <%= @textbook.isbn %></h3>

<div class="ui medium image">
  <%=image_tag(@textbook.img_url) %>
</div>


<div class="pricing-info">
  <% if @condition_prices %>
  <h3>Marketplace Pricing</h3>
    <p>Fresh: <%= number_to_currency(@condition_prices[:fresh]) %></p>
    <p>Very Good: <%= number_to_currency(@condition_prices[:very_good]) %></p>
    <p>Good: <%= number_to_currency(@condition_prices[:good]) %><p>
    <p>Acceptable: <%= number_to_currency(@condition_prices[:acceptable]) %></p>
    <p>Trash: <%= number_to_currency(@condition_prices[:trash]) %></p>
  <% else %>
    <p> Please inquire with seller about pricing. </p>
  <% end %>
</div>


<div class="ui container" id="book_div">
  <% if !@textbook.user_books.empty? %>
    <h3 id="book_info">There are <%=@textbook.user_books.count %> copies of <%= @textbook.title %> available for sale:<h3>
  <% else %>
    <h3 id="book_info">Sorry, there are currently no copies of <%= @textbook.title %> available. <%= link_to "Click here to search", root_path %> for another book or click below to sell your copy.</h3><br>
  <% end %>
</div>


<ul id="bookAppend">
<% @textbook.user_books.each do |book| %>
  <li id="<%=book.id%>" class="user_book">
  <%= link_to book.condition.name, textbook_book_path(@textbook, book) %> - listed by <%= book.user.first_name %> (<%= book.user.num_books_sold %> books sold), <%= book.listing_days_ago %>.
  </li>
<% end %>
</ul>

<% if user_signed_in? %>
  <div id="newUserBook" class="ui top attached button">Sell a copy of this book!</div><br>
<% else %>
  <a href='/users/sign_in'><div id="mustSignUpToSellBook" class="ui top attached button 2">Sell a copy of this book!  </div></a><br>
<% end %>



  <ul class="ui grid">
    <% @textbook.subjects.each do |subject| %>
      <li class="two wide column"> <%=link_to subject.name, subject_path(subject)%></li>
      <%end%>
  </ul>

</div>


<!-- modal -->
<div id ="showUserBook" class="ui basic small modal">
  <i class="close icon"></i>
  <div class="header">
  </div>
  <div class="image content">
    <div class="image">
    </div>

    <div class="description">
      <ul>
      </ul>
    </div>
  </div>
  <div id="addToCartMessage">
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui red basic inverted button">
        <i class="remove icon"></i>
        Close
      </div>
      <button id="addToCart" class="ui green basic inverted button">
        <i class="checkmark icon"></i>
        Add to Cart
      </button>
    </div>
  </div>
</div>

<!-- modal -->
<div id="buildUserBook" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
  </div>
  <div class="image content">
    <div class="ui medium image">
    </div>
    <div class="description">
      <div class="ui header">Please Select the following information.</div>
      <p></p>

      <form action="/textbooks/<%=@textbook.id%>/book" method="POST">
        <div>
          Condition of the book:
         <%= collection_select :condition, :id, Condition.all, :id, :name %>
       </div>
        <div>
        <% if @condition_prices %>
        <div id="priceRadioButtons">
          <p>
            <%= radio_button_tag(:price, "marketplace") %>
            <%= label_tag(:marketplace_price, "Use marketplace pricing") %>
            <%= radio_button_tag(:price, "custom") %>
            <%= label_tag(:custom_price, "Set your own price") %>
            <%= text_field_tag('custom_price_value', nil, class: 'hidden') %> </p>
        </div>
        <% else %>
        <%= label_tag(:custom_price, "Set your own price") %>
          <p> <%= text_field_tag('custom_price_value', nil) %> </p>
        <% end %>
       </div>

    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <button id="userBookSubmit" type="submit" class="ui positive right labeled icon button">
      Submit
    </button>
  </div>
</form>

</div>
