<div class="ui large message">

  <div>
<div class="ui grid">
  <div class="ui row">
  <div class="four wide column">
    <%=image_tag(@textbook.img_url) %>
</div>
<div class="twelve wide column">
  <h1 class="ui center aligned header">
    <%= @textbook.title %></h1>
   <h3 class="ui center aligned header">
      By <%= @textbook.author %><br>
  <h3 class="ui center aligned header" id="isbn-for-price">
    ISBN: <%= @textbook.isbn %></h3>
      
   <div class='text_description'>
     <div class='text_d_short'>
       <%= truncate(@textbook.description, length: 500, separator: ' ') %>
       <% if @textbook.description.length > 500 %>
         <a id='see_more' href="#">Show more</a>
       <% end %>
     </div>  
     <div class='text_d_long'>
       <%= @textbook.description %><br>
       <a id='see_less' href="#">Show less</a>
      </div>
   </div>
  </div>
</div>
</div>
</div>
<br>
<div>
  <% if @condition_prices %>
 <p><h3>Marketplace Pricing</h3>
    <p>Fresh: <%= number_to_currency(@condition_prices[:fresh]) %> &nbsp&nbsp&nbsp
      Very Good: <%= number_to_currency(@condition_prices[:very_good]) %>&nbsp&nbsp&nbsp
      Good: <%= number_to_currency(@condition_prices[:good]) %>&nbsp&nbsp&nbsp
      Acceptable: <%= number_to_currency(@condition_prices[:acceptable]) %>&nbsp&nbsp&nbsp
      Trash: <%= number_to_currency(@condition_prices[:trash]) %>
  <% else %>
    <p> Please inquire with seller about pricing. </p>
  <% end %>

  <div class="ui center aligned horizontal">
    <% @textbook.subjects.each do |subject| %>
      
      <div class="item"> <i class="tag icon"></i><%=link_to subject.name, subject_path(subject)%>
      </div>
      <%end%>
  </div>
</div>
</div>

   <% if !@textbook.user_books.available.empty? %>
     <h3 id="book_info"> <%=@textbook.user_books.available.count %> copies of <%= @textbook.title %> available for sale:</h3>
   <% else %>
    <h3 id="book_info">Sorry, there are currently no copies of <%= @textbook.title %> available. <%= link_to "Click here to search", root_path %> for another book or click below to sell your copy.</h3><br>
   <% end %>

<div class="ui list" id="bookAppend">
<% @textbook.user_books.available.sort_by{ |book| book.condition }.each do |book| %>
  <div id="<%=book.id%>" class="item user_book">
  <i class="book icon"></i>
  <div class="content">
  <%= link_to book.condition.name, textbook_book_path(@textbook, book) %> - listed by <%= book.user.name_w_initial %>
</div>
  </div>
<% end %>
</div>

          <!-- modal -->
          <div id ="showUserBook" class="ui basic small modal">
            <i class="close icon"></i>
            <div class="header">
            </div>
            <div class="image content">
              <div class="image">
              </div>

              <div class="description">
                <ul>
                </ul>
              </div>
            </div>
            <div id="addToCartMessage">
            </div>
            <div class="actions">
              <div class="two fluid ui inverted buttons">
                <div id="closeModal" class="ui red basic inverted button">
                  <i class="remove icon"></i>
                  Close
                </div>
                <button id="addToCart" class="ui green basic inverted button">
                  <i class="checkmark icon"></i>
                  Add to Cart
                </button>
              </div>
            </div>
          </div>

          <!-- modal -->
          <div id="buildUserBook" class="ui modal">
            <i class="close icon"></i>
            <div class="image content">
              <div class="description">
                <div class="ui fluid header">Enter info about your copy of <%= @textbook.title %> </div>
  

                <form action="/textbooks/<%=@textbook.id%>/book" method="POST">
                  <div>
                    <%= collection_select :condition, :id, Condition.all, :id, :name, {include_blank: 'Select a condition'}, {class: "ui fluid selection dropdown"} %>
                  </div>
                  <br>
                   <div class="ui grid">           
                    <% if @condition_prices %>

                    <div class="eight wide column" id="priceRadioButtons">
  
                        <%= radio_button_tag(:price, "marketplace") %>
                        <%= label_tag(:marketplace_price, "Use marketplace pricing") %>
                    </div>
                        <div class="eight wide column">
                        <%= radio_button_tag(:price, "custom", {class: 'ui radio checkbox'}) %>
                        <%= label_tag(:custom_price, "Set your own price") %>
                        <%= text_field_tag('custom_price_value', nil, class: 'ui input hidden') %>
                      </div>

                      <% else %>
                      <div class="sixteen wide column">
                       
                      <%= label_tag(:custom_price, "Set your own price") %>
                       <%= text_field_tag('custom_price_value', nil) %>
                     </div>
                      <% end %>
                    </div>
                  </div>
                  </div>
                <div class="actions">
                  <div class="ui black deny button">
                    Nope
                  </div>
                  <button id="userBookSubmit" type="submit" class="ui positive deny button">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>

<% if user_signed_in? %>
  <div id="newUserBook" class="ui button attached teal massive">Sell a copy of this book!</div><br>
<% else %>
  <a href='/users/sign_in'><div id="mustSignUpToSellBook" class="ui button attached teal massive">Sell a copy of this book!  </div></a><br>
<% end %>
