<div class="ui large message">
  <div class="ui grid">
   <div class="eight wide column">
  <h1 class="ui left aligned header">
    <%= @user.first_name %>  <%= @user.last_name %></h1>
   <h4 class='ui left header'>
    Member Since: <%= @user.member_since %>
  </h4>
    <h4 class='ui left header'>
  College: <%= link_to(@user.college.name, college_path(@user.college_id)) %>
</h4>
    <% if @user == current_user %>
  <h4 class='ui left header'>Karma Balance: <%= number_to_currency(@user.karma.balance) %>   
  </h4>
  <% end %>
  <% if @user.last_sign_in %>
  <h4 class='ui left header'>Last Sign In: <%= @user.last_sign_in %></h4>
<% end %>

</div>
  <div class="eight wide column">
    <br>
  <%= image_tag 'book-shelf.png', class: "ui centered medium rounded image" %>
</div>
</div>

 <h3><%= @user.num_books_for_sale %> Books Currently Listed</h3>


<div class="ui list">
  <% @user.books_for_sale.each do |book| %>
    <div class="item">
      <% if current_user == @user %>
        <i class="remove icon userBookDelete" textbook="<%=book.textbook.id%>" userBook="<%=book.id%>" ></i>
      <% end %>
      <div class="content">
        <%= link_to(book.textbook.title, textbook_path(book.textbook.id)) %> - Condish <%=book.condition.name%>
      </div>
    </div>
  <% end %>
</div>

<% if current_user == @user %>
<h3><%= @user.num_books_sold %> Books You've Sold</h3>
<ul>
  <% @user.books_sold.each do |book| %>
    <li><%= link_to(book.textbook.title, textbook_path(book.textbook.id)) %></li>
  <% end %>
</ul>

<h3>Previous Orders</h3>

<h4>
<div class="ui relaxed divided list">
  <% @user.inactive_carts.each do |cart| %>
  <div class="item">
    <i class="large cart middle aligned icon"></i>
    <div class="content">
      <p class="header"><%= link_to("Order ##{cart.id}", cart_path(cart)) + " placed on #{cart.order_date.strftime("%a %b %e, %Y")}" %></p>
      <div class="description">Total Price: <%=cart.cart_total_price%></div>
    </div>
  </div>
  <% end %>

</div>
</h4>
<%end%>



</div>
