<div class="ui large message">
  <h1 class="ui center aligned header">
    <%= @user.first_name %>  <%= @user.last_name %></h1>
  <img class="ui small image" src="../assets/images/square-image.png">
  <% if @user == current_user %>
  <p>Karma Balance: <%= @user.karma.balance %></p>
<% end %>

<p>Member Since: <%= @user.member_since %></p>
<% if @user.last_sign_in %>
  <p>Last Sign In: <%= @user.last_sign_in %></p>
<% end %>
<p>Books Sold: <%= @user.num_books_sold %></p>
<p>Books For Sale: <%= @user.num_books_for_sale %></p>


<% if @user.college %>
  <p>College: <%= link_to(@user.college.name, college_path(@user.college_id)) %></p>
<% end %>

<p>Books Currently Listed:</p>
<ul>
  <% @user.books_for_sale.each do |book| %>
    <li><%= link_to(book.textbook.title, textbook_path(book.textbook.id)) %></li>
  <% end %>
</ul>

<% if current_user == @user %>

<h4> Books You've Purchased: </h4>
<ul>
  <% @user.books_purchased.each do |book| %>
    <li><%= link_to(book.textbook.title, textbook_path(book.textbook.id)) %></li>
  <% end %>
</ul>

<h4>Books You've Sold:</h4>
<ul>
  <% @user.books_sold.each do |book| %>
    <li><%= link_to(book.textbook.title, textbook_path(book.textbook.id)) %></li>
  <% end %>
</ul>

<h4>Previous Orders:</h4>
<ul>
  <% @user.inactive_carts.each do |cart| %>
    <li><%= link_to("Order ##{cart.id}", cart_path(cart)) + " placed on #{cart.order_date.strftime("%a %b %e, %Y")}." %> </li>
  <% end %>
</ul>
<% end %>
</div>

