<!DOCTYPE html>
<html>
<head>
  <title>Barter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<script type="text/javascript">
$('.ui.labeled.icon.sidebar').sidebar('toggle');
var mouse_position;
var animating = false;
//GET MOUSE POSITION
$(document).mousemove(function (e) {

    mouse_position = e.clientX;

    console.log(mouse_position);
    if (mouse_position <= 100) {
        //SLIDE IN MENU
        $('.ui.labeled.icon.sidebar').sidebar('toggle');

        console.log('menu shown');
    } else if (mouse_position > 100) {
      $('.ui.labeled.icon.sidebar').sidebar('toggle');

        console.log('menu hidden');
    }
});

</script>
<body>
  <div class="ui left demo vertical inverted sidebar labeled icon menu defaultTransition">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div>
  <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
