<!DOCTYPE html>
<html>
<head>
  <title>Barter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>


</head>

<script type="text/javascript">

$(function(){
  $('#buttonPress').click(function(){
    $('.ui.labeled.icon.sidebar').sidebar('toggle');
  })
})

</script>

<div class="ui fixed inverted main menu" id="buttonPress">
    <a class="launch icon item">
      <i class="content icon"></i>
    </a>

      <div class="item">
        BiblioTech
      </div>

    <div class="right menu">
      <div class="item">
      Karma: <%= current_user.karma.balance if current_user%>
      </div>

  <div class="vertically fitted borderless item">
   <% if user_signed_in? %>
    <%= link_to "Hello, #{current_user.first_name}", user_path(current_user) %><br>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete  %>
    <% else %>
    <div><%= link_to "Sign In", new_user_session_path %></div>
  <%end%>

      </div>
    </div>
</div>

<div class="pusher">

<body>


  <% if user_signed_in? %>
  <div class="ui left demo vertical inverted sidebar labeled icon menu defaultTransition ">
  <a href="<%=root_path%>" class="item">
    <i class="home icon"></i>
    Home
  </a>

  <a href="<%=user_path(current_user)%>" class="item">
    <i class="student icon"></i>
    Profile
  </a>
  <a href="<%=college_path(current_user.college)%>"class="item">
    <i class="university icon"></i>
    College
  </a>
  <a href="<%=cart_path(current_user.active_cart)%>"class="item">
    <i class="add to cart icon"></i>
    Cart
  </a>
</div>

<% else %>

 <div class="ui left demo vertical inverted sidebar labeled icon menu defaultTransition ">
  <a href="<%=root_path%>" class="item">
    <i class="home icon"></i>
    Home
  </a>

</div>
<% end %>

<div class="ui page grid main">
  <div class="row">
    <div class="column padding-reset">
      <div class="ui large message">


        <%= yield %>


      </div>
    </div>
  </div>
</div>






</body>


</div>

</html>
