<div class="ui large message">
<div class="column">
 <h1 class="ui center aligned header">Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="ui form">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div><br>

  <div class="ui form">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div><br>


  <p><%= submit_tag("Sign In", class: "ui teal basic button" ) %>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
</div>

