<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>

  <h1>Hello, <%= @user.first_name %></h1>
  <p>
    The following book has been purchased on Bibliotech:<% @item.textbook.title %>
  </p>

  <p>
  <%= @buyer.first_name %> has paid <%=@item.item_karma%> for your book!
  You can contact the buyer at <%=@buyer.email%>.
  </p>

  <p>
    Please send it to the following adddress:
    <%=@buyer.name_w_initial %><br>
    <%=@item.shipping_address.street%>, <%=@item.shipping_address.apt_num%><br>
    <%=@item.shipping_address.city%>, <%=@item.shipping_address.state%> <%=@item.shipping_address.zip%>





  </p>

  <p>
  Have a great day!
  </p>

  <p>
  Thanks,
  </p>

  <p>
    The Bibliotech Team &hearts;
  </p>

</body>
</html>
