<% if @cart.active %>

<% if @cart.errors.any? %>
 <% @users.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h1><%=@cart.user.first_name%>'s Cart</h1>
<%= render partial: "line_item_active", collection: @cart.line_items, as: :item %>

<%= form_tag(cart_path(@cart), method: :patch) do %>
    <%= collection_select :address, :id, @addresses, :id, :street %> 
  <%= submit_tag "Buy Books Now"%>
<% end %>

<% else %>
<h1>Order placed on <%= @cart.order_date.strftime("%a %b %e, %Y") %> </h1>
<%= render partial: "line_item_inactive", collection: @cart.line_items, as: :item %>
</div>
<% end %>