<div class="ui large message">

<p class="notice"><%= notice %></p>

<% if @cart.active %>

<h1 class="ui center aligned header"><%=@cart.user.first_name%>'s Cart</h1>
<%= render partial: "line_item_active", collection: @cart.line_items, as: :item %>

  <%= form_tag(cart_path(@cart), method: :patch) do %>
    <%= collection_select :address, :id, @addresses, :id, :street %> 
  <%= submit_tag "Buy Books Now"%>
<% end %>

<% else %>
<h1>Order placed on <%= @cart.order_date.strftime("%a %b %e, %Y") %> </h1>
<%= render partial: "line_item_inactive", collection: @cart.line_items, as: :item %>
<% end %>
</div>
